.Item {
  width: 100%;
  text-align: center;
}

.Item img {
  display: block;
  margin: 40px auto 20px auto;
  max-width: 100%;
  max-height: 250px;
}

.Item-weekdays, .Item-sizes, .Item-seasons {
  margin: 5px 0;
}

.Item-weekday-btn.btn.btn-default, .Item-size-btn.btn.btn-default, .Item-season-btn.btn.btn-default, .Item-weekday-btn.btn.btn-default:focus, .Item-size-btn.btn.btn-default:focus, .Item-season-btn.btn.btn-default:focus {
  width: 36px;
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
  outline: none;
  color: #ccc;
}

.Item-weekday-btn.btn.btn-default:hover {
  border-color: #CD297A;
  color: #CD297A;
  background-color: white;
}

.Item-weekday-btn.btn.btn-default:active, .Item-weekday-btn.btn.btn-default.selected {

  border-color: #CD297A;
  background-color: #CD297A;
  color: white;
}

.Item-season-btn.btn.btn-default:hover {
  border-color: #CD297A;
  color: #CD297A;
  background-color: white;
}

.Item-season-btn.btn.btn-default:active {
  border-color: #CD297A;
  background-color: #CD297A;
  color: white;
}

.Item-size-btn.btn.btn-default:hover {
  border-color: #61D4E2;
  color: #61D4E2;
  background-color: white;
}

.Item-size-btn.btn.btn-default:active, .Item-size-btn.btn.btn-default.selected {
  border-color: #61D4E2;
  background-color: #61D4E2;
  color: white;
}
